pkgbase = pcb-bin
	pkgdesc = A fast, open agent harness for the terminal — single Go binary, ~12MB, zero runtime deps
	pkgver = 1.22.4
	pkgrel = 1
	url = https://github.com/boytegar/packboy-builder
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	provides = pcb
	conflicts = pcb
	conflicts = pcb-git
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/boytegar/packboy-builder/releases/download/v1.22.4/packboy-builder_linux_amd64.tar.gz
	sha256sums_x86_64 = 4b4b9974234af66efa26a75638987530eb1ac9b6ffe3374e3676593157915cb5
	source_aarch64 = https://github.com/boytegar/packboy-builder/releases/download/v1.22.4/packboy-builder_linux_arm64.tar.gz
	sha256sums_aarch64 = e7d971c047b3405cf8efe4dfdc1bf027d50e1e39daeba0f0751a7f0b5b402f59

pkgname = pcb-bin
